/* Nav */
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/bg.png);
    background-size: cover;
    height: 1000px;
    background-attachment:fixed;
    text-align: left;
    
}

.jumbotron .display-4 {
margin-top: 330px;
font-weight: 200;
font-size: 35px;
margin-bottom: 32px;

}
.jumbotron .display-4 span {
    font-weight: 500;
    font-size: 75px;
    
}


/* AllVer */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 1000;
    }

    .jumbotron .display-4 {
        font-size: 70px;
    }
}
